body{
    margin: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
}

.img-section{
    display: grid;
    grid-row: span 3;
    font-weight: bold;
    font-size: 20px;
    border: solid black 1px;
}

.img-section>p{
    font-size: 14px;
    position: absolute;
    margin-left: 16em;
    margin-top: 72em;
    color: antiquewhite;
}

.img-section>p>a{
    color: antiquewhite;
}

.header-section{
    display: grid;
    font-weight: bold;
    font-size: 20px;
    border: solid black 1px;
    padding: 10px;
}

.form-section{
    display: grid;
    font-weight: bold;
    font-size: 20px;
    border: solid black 1px;
    padding: 10px;
}

.cta-section{
    display: grid;
    font-weight: bold;
    font-size: 20px;
    border: solid black 1px;
    padding: 10px;
}

.accbtn{
    background-color: #596D48;
}