body{
    margin: 0;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

@font-face {
    font-family: "Norse Bold";
    src: url("page-assets/Norse-Bold.otf");
  }

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
}

.img-section{
    display: grid;
    grid-row: span 3;
    font-weight: bold;
    font-size: 20px;
}

.photo-credit{
    font-size: 14px;
    position: absolute;
    margin-left: 16em;
    margin-top: 72em;
    color: #fafafa;
}

.img-section>p>a{
    color: #fafafa
}

.logodiv{
    background-color:   rgb(0, 0, 0);
    opacity: 50%;
    position: absolute;
    height: 10em;
    width: 34.34em;
    margin-top: 8.6em;
}


.odin-img{
    height: 10em;
    color: #fafafa;
    position: absolute;
    margin-top: 8.6em;
    margin-left: 10em;

}

.odin-text {
    position: absolute;
    color: #fafafa;
    font-family: "Norse Bold";
    font-size: 5em;
    margin-top: 2.2em;
    margin-left: 3.5em;
}

.header-section{
    display: grid;
    font-weight: bold;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4.5em;
    margin-bottom: 0;
    margin-left: 2em;
    max-width: 31em;
    max-height: 8em;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    grid-gap: 1em;
}

.form-section{
    background-color: #fafafa;
    box-shadow: 5px 5px 15px -5px grey
}
p{
    margin: 0;
}
h3, label{
    margin-left: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    padding-bottom: 1em;
    font-size: 1.5em;
    padding-bottom: 0;
}

input, label{
    display: block;
}

input{
    width: 17em;
    font-size: 20px;
    margin-left: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus{    
    outline-color: #5783da;
}

label{
    padding-bottom: .2em;
    font-size: 16px;
    text-transform: uppercase;
}

.cta-section{
    display: grid;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: #596D48;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;
    margin-top: 2em;
    width: 13em;
    height:3em;
    border-radius: 9px;
    border: 0px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fafafa;

}

.cta-section>p{
    font-size: 20px;
    margin-left: 2em;
    margin-top: -3em
}

.cta-section>p>a{
    color: #596D48;
    text-decoration: none;
}